<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta carset="UTF-8">
	</head>
	<body>
		<header th:insert="header_nav.html"></header>
		<h1>장바구니 리스트</h1>
		<!--<div th:text=${basketList}></div>-->
		<table class="table" th:each="basket:${basketList}">
			<thead>
				<tr>
					<th>item_num</th>
					<th>name</th>
					<th>title</th>
					<th>count</th>
					<th>price</th>
					<th>basket.count</th>
					<th>total price</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${basket.itemNum}"></td>
					<td th:text="${basket.item.name}"></td>
					<td th:text="${basket.item.title}"></td>					
					<td th:text="${basket.count}"></td>
					<td th:text="${basket.item.price}"></td>
					<td>
						<form action="/itemBasket/update.do" method="post">
							<input type="hidden" name="basketNum" th:value="${basket.basketNum}">
							<input type="hidden" name="memberId" th:value="${basket.memberId}">
							<input type="hidden" name="itemNum" th:value="${basket.itemNum}">


							<div class="input-group">
							  <select class="form-select" name="count">
							  	<th:block th:each="count:${#numbers.sequence(basket.count+10,1)}">
							    	<option  th:selected="(${count}==${basket.count})" th:value="${count}" th:text="${count}"></option>
							  	</th:block>
							    	
							  </select>
							  <button class="btn btn-outline-info">수정</button>

							</div>
						</form>
					</td>
					<td>
 						<form action="/itemBasket/delete.do" method="post">

							<div class="input-group mb-3">
							  <div class="input-group-text">
							    <input class="form-check-input mt-0" type="checkbox" name="basketNum" th:value="${basket.basketNum}">
							  </div>
							  <button class="form-control btn btn-outline-danger">삭제</button>
							</div>
						</form>

					</td>
					<td th:text="${basket.count * basket.item.price}"></td>
				</tr>		
		</tbody>
		<tfoot>
            <tr>
                <td colspan="5" style="text-align: right;"><strong>총합계:</strong></td>
                <td th:text="${totalSum}"></td>
            </tr>
        </tfoot>
		</table>
		
		<div class="text-right">
        <a href="/payments/form" class="btn btn-primary">주문하기</a>
        </div>
	</body>
</html>