<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<style>

.product_list_container> .product .MAIN_IMG{
    width: 225px;
    height: 225px;
}
    
.product_list_container> .product{
   float: left;
}

</style>

<body>
     <header th:insert="header_nav.html"></header>
     
       <ul class="nav flex-column">
 				 <li class="nav-item">
   			 <a class="nav-link active" aria-current="page" href="#1">Active</a>
 				 </li>
  				 <li class="nav-item">
  			  <a class="nav-link" href="/item/view/cates/1">모니터</a>
 		 		</li>
 				 <li class="nav-item">
  			  <a class="nav-link" href="/item/view/cates/2">마우스</a>
 		 		</li>
 		 		 <li class="nav-item">
  			  <a class="nav-link" href="/item/view/cates/3">키보드</a>
 		 		</li>
 				 <li class="nav-item">
  			  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  		        </li>
	   </ul>
     
     <main th:each="item:${boardTests}">
           
        <section>
            
        
            <ul class="product_list_container" id="productList">
                
            <ul class="product">
                <img class="MAIN_IMG" src="" alt="" th:src="@{/public/img/{img}(img=${item.mainImg})}" >
                <p th:text="${item.name}"></p>
                <p th:text="${item.price}"></p>
               
            </ul>
                
               
               
            </ul>
        </section>
    </main>
</body>
</html>