<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결제 내역</title>
    <style>
        .tab-container {
            margin-top: 20px;
        }
        .tab-links {
            cursor: pointer;
            padding: 10px;
            margin-right: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            background-color: #f1f1f1;
            display: inline-block;
        }
    </style>
</head>
<body>
    <header th:insert="header_nav.html"></header>
    <div th:each="group : ${groupedPayList}">
        <h3 th:text="${#temporals.format(group.payTime, 'yyyy-MM-dd HH:mm:ss')}"></h3>
        <table class="table">
            <thead>
                <tr>
                    <th>상품이름</th>
                    <th>개수</th>
                    <th>가격</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="pay : ${group.pays}">
                    <td th:text="${pay.payname}"></td>
                    <td th:text="${pay.count}"></td>
                    <td th:text="${pay.price} + ' 원'"></td>
                </tr>
            </tbody>
        </table>
        <div>
            <a th:href="@{/payments/detailsGroup(payTime=${#temporals.format(group.payTime, 'yyyy-MM-dd') + 'T' + #temporals.format(group.payTime, 'HH:mm:ss')})}" target="_blank" class="tab-links">상세보기</a>  
        </div>
    </div>
</body>
</html>