var paymentInfo = {
                            paymentMethod: payMethod,
                            buyerName: rsp.buyer_name,
                            buyerTel: rsp.buyer_tel,
                            items: items
                        };
                        
                        
                                public PayRequest(String name, int count, int price, String buyerName, String buyerTel, String paymentMethod) {
            this.name = name;
            this.count = count;
            this.price = price;
            this.buyerName = buyerName;
            this.buyerTel = buyerTel;
            this.paymentMethod = paymentMethod;
        }
        
        
            @PostMapping("/saveAddressToPayVo")
    public String addressPayments(@RequestBody List<AddressRequest> addressRequests, HttpSession session) {
    	memVo memVo=(memVo)session.getAttribute("memVo");
    	for (AddressRequest addressRequest : addressRequests) {
            payVo pay = new payVo();
            pay.setPostcode(addressRequest.getPostcode());
            pay.setAddress(addressRequest.getAddress());
            pay.setDetailAddress(addressRequest.getDetailAddress());
            pr.save(pay);
    	}
        return "redirect:/";
    }
    
    
    static class AddressRequest {
        private String postcode;
        private String address;
        private String detailAddress;
    
        
        public AddressRequest() {
        }
        
        public AddressRequest(String postcode, String address, String detailAddress) {
            this.postcode = postcode;
            this.address = address;
            this.detailAddress = detailAddress;
        }

		public String getPostcode() {
			return postcode;
		}

		public void setPostcode(String postcode) {
			this.postcode = postcode;
		}

		public String getAddress() {
			return address;
		}

		public void setAddress(String address) {
			this.address = address;
		}

		public String getDetailAddress() {
			return detailAddress;
		}

		public void setDetailAddress(String detailAddress) {
			this.detailAddress = detailAddress;
		}
        
        
    }