<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Include Bootstrap CSS if not already included -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .form-group {
            margin-bottom: 1rem; /* Add space between form groups */
        }
    </style>
</head>
<body>
     <header th:insert="header_nav.html"></header>
     <h1>계정 정보 찾기</h1>
    <div class="d-flex justify-content-center align-items-center" style="height: calc(100vh - 200px)">
        <form action="/mem/request-password-reset" method="post" style="width: 400px;">
            <div class="mb-3 row form-group">
                <label for="EmailFound" class="col-sm-2 col-form-label">이름</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="EmailFound" name="name" value="">
                </div>
            </div>
            <div class="mb-3 row form-group">
                <label for="smsAuth" class="col-sm-2 col-form-label">아이디(이메일)</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="smsAuth" name="email" value="">
                </div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-success">비밀번호 찾기</button>
            </div>
        </form>
    </div>   
</body>
</html>
