<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <style>
        .form-group {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }
        .form-group label {
            width: 150px; /* 레이블의 고정 너비 */
            margin-right: 10px; /* 레이블과 입력 필드 사이의 간격 */
        }
        .form-group input {
            flex: 1;
        }
        .submit-button {
            display: flex;
            justify-content: center;
        }
    </style>
    <script>
        function validatePassword() {
            var newPassword = document.getElementById("newPassword").value;
            var confirmPassword = document.getElementById("confirmPassword").value;
            if (newPassword !== confirmPassword) {
                alert("비밀번호가 일치하지 않습니다.");
                return false; // 폼 제출 방지
            }
            return true; // 폼 제출 허용
        }
    </script>
</head>
<body>
    <header th:insert="header_nav.html"></header>
    <h1>Reset Password</h1>
    <div class="d-flex justify-content-center align-items-center" style="height: calc(100vh - 200px)">
        <form th:action="@{/mem/reset-password}" method="post" onsubmit="return validatePassword();">
            <input type="hidden" name="token" th:value="${token}" />
            <div class="form-group">
                <label for="newPassword">패스워드</label>
                <input type="password" name="newPassword" class="form-control" id="newPassword" required>
            </div>
            <div class="form-group">
                <label for="confirmPassword">비밀번호 확인</label>
                <input type="password" name="confirmPassword" class="form-control" id="confirmPassword" required>
            </div>
            <div class="submit-button">
                <button type="submit" class="btn btn-success">비밀번호 변경</button>
            </div>
        </form>
    </div> 
</body>
</html>
