<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Success</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header th:insert="header_nav.html"></header>
    <div class="container mt-5">
        <div class="alert alert-success" role="alert">
            회원가입이 성공적으로 완료되었습니다! <a href="/" class="alert-link">홈으로 돌아가기</a>.
        </div>
    </div>
</body>
</html>